#html5-game-logo
{
	width: 40%;
}

.html5-game-thumbnail-single
{
	width: 35%;
	transition: 0.3s;
}

.html5-game-thumbnail
{
	width: 70%;
	transition: 0.3s;
}

.html5-game-thumbnail:hover, .html5-game-thumbnail-single:hover
{
	transform: scale(1.25);
	position: relative;
	z-index: 1;
}

.game-box
{
	box-shadow: 0 0 4px 4px #FFFFFF inset;
}

.page-section
{
	margin: 0 auto;
}

#loading-bar
{
	position: absolute;
	top: 50%;
	width: 100%;
}

.side-bar-logo
{
	width: 100%; 
	height: 16.5%;
	transition: 0.2s;
}

.side-bar-logo:hover
{
	box-shadow: 2.5px 2.5px 4px 4px rgba(33,33,33,.2);
}

.side-bar-image
{
	width: 100%;
	height: 100%;
}

.side-bar-div:hover
{
	box-shadow: 0 0 3px 3px #FDE295;
}

.side-bar-div
{
	width: 100%;
	height: 32%;
	margin-top: 2%;
	margin-bottom: 2%;
	transition: 0.2s;
}

.full-div
{
	width: 100%;
	height: 100%;
}

#linked-in-logo
{
	position: absolute; 
}

#youtube-logo
{
	position: absolute;
}

#gitlab-logo-head
{
	position: absolute;
	left: 5%;
	top: 2.5%;
	width: 20%;
	height: 45%;
}

#itch-io-logo-head
{
	position: absolute;
	left: 5%;
	top: 52.5%;
	width: 20%;
	height: 45%;
}

@media only screen and (max-width: 600px) 
{
	.page-section
	{
		width: 100%;
	}

	.side-bar
	{
		display: none;
	}

	#linked-in-logo
	{
		width: 10%;
		right: 13%; 
		top: 20%;
	}

	#youtube-logo
	{
		width: 10%;
		right: 3%; 
		top: 20%;
	}

	.hamburger-menu
	{
		width: 10%;
		position: absolute;
		display: block;
	}

	#left-menu
	{
		left: 0%;
		top: 0%;
	}

	#right-menu
	{
		right: 0%;
		top: 0%;
	}

	.html5-game-thumbnail-single
	{
		width: 70%;
		transition: 0.3s;
	}
}

@media only screen and (min-width: 600px) 
{
	.page-section
	{
		width: 100%;
	}

	.side-bar
	{
		display: none;
	}

	#linked-in-logo
	{
		width: 10%;
		right: 13%; 
		top: 20%;
	}

	#youtube-logo
	{
		width: 10%;
		right: 3%; 
		top: 20%;
	}

	.hamburger-menu
	{
		width: 10%;
		position: absolute;
		display: block;
	}

	#left-menu
	{
		left: 0%;
		top: 0%;
	}

	#right-menu
	{
		right: 0%;
		top: 0%;
	}

	.html5-game-thumbnail-single
	{
		width: 35%;
		transition: 0.3s;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{
	.page-section
	{
		width: 100%;
	}

	.side-bar
	{
		display: none;
	}

	#linked-in-logo
	{
		width: 10%;
		right: 13%;
		top: 20%;
	}

	#youtube-logo
	{
		width: 10%;
		right: 3%;
		top: 20%;
	}

	.hamburger-menu
	{
		width: 10%;
		position: absolute;
		display: block;
	}

	#left-menu
	{
		left: 0%;
		top: 0%;
	}

	#right-menu
	{
		right: 0%;
		top: 0%;
	}

	.html5-game-thumbnail-single
	{
		width: 35%;
		transition: 0.3s;
	}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
	.page-section
	{
		width: 60%;
	}

	.side-bar
	{
		height: 100%;
		width: 19%;
		position: fixed;
		z-index: 1;
		display: block;
		padding: 0.5%;
		background-image: url('../images/side_bar_bg.jpg');
		background-size: 100% 100%;
	}

	#side-bar-left
	{
		left: 0;
		top: 0;
	}

	#side-bar-right
	{
		right: 0;
		top: 0;
	}

	#linked-in-logo
	{
		width: 7.5%;
		right: 10.5%; 
		top: 5%;
	}

	#youtube-logo
	{
		width: 7.5%;
		right: 3%; 
		top: 5%;
	}

	.hamburger-menu
	{
		display: none;
	}

	#gitlab-logo-head
	{
		display: none;
	}

	#itch-io-logo-head
	{
		display: none;
	}

	.html5-game-thumbnail-single
	{
		width: 35%;
		transition: 0.3s;
	}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
{
	.page-section
	{
		width: 60%;
	}

	.side-bar
	{
		height: 100%;
		width: 19%;
		position: fixed;
		z-index: 1;
		display: block;
		padding: 0.5%;
		background-image: url('../images/side_bar_bg.jpg');
		background-size: 100% 100%;
	}

	#side-bar-left
	{
		left: 0;
		top: 0;
	}

	#side-bar-right
	{
		right: 0;
		top: 0;
	}

	#linked-in-logo
	{
		width: 7.5%;
		right: 10.5%; 
		top: 5%;
	}

	#youtube-logo
	{
		width: 7.5%;
		right: 3%; 
		top: 5%;
	}

	.hamburger-menu
	{
		display: none;
	}

	#gitlab-logo-head
	{
		display: none;
	}

	#itch-io-logo-head
	{
		display: none;
	}

	.html5-game-thumbnail-single
	{
		width: 35%;
		transition: 0.3s;
	}
}